.main {
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.homepage__heading{
  background-image: url('../pictures/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 10% 15px 10%;
  width: 100vw;
}

.homepage__title{
  color: rgb(245, 229, 216);
  font-family: 'Sansita Swashed', cursive;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.homepage__subtitle{
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  text-align: right;
}

.recipe__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 15%;
}

.recipe {
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
  color: rgb(245, 229, 216);
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 10px 0;
  text-align: center;
  width: 350px;
}

.recipe:hover{
  background-color:  rgb(245, 229, 216);
  border: 1px solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  cursor: pointer;
}

.recipe__photo{
  border-radius: 10px 10px 0 0 ;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.recipe__name{
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  padding: 0 5%;
}
@media (max-width: 1200px) {
  .homepage__subtitle{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }

  .homepage__title{
    font-size: 40px;
  }

  .homepage__subtitle{
    font-size: 20px;
  }
  .recipe__container{
    flex-direction: column;
  }

  .recipe{
    margin: 10px 0;
    width: 100%;
  }

}
